*{
    margin:0;
    padding:0;
}

.ping-area{
    padding:5rem 3.5rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    margin-bottom:3rem;
}

.hero-title{
    margin-bottom:1rem;
    color:hsl(0, 0%, 59%);
    font-weight: 400;
}

.hero-title strong{
    color:#000;
}

.hero-content{
    margin-bottom:1rem;
}

.hero-info{
    text-align: center;
}

form{
    margin-bottom:2rem;
}

/* .form-info{
    padding:0.8rem 0;
} */

.input_box{
    padding:0.8rem 1.9rem;
    margin:1rem 0;
    border:1px solid hsl(223, 100%, 88%);
    border-radius:20px;
}

::placeholder{
    color:hsl(223, 100%, 88%);
}

.button{
    border:none;
    background:hsl(223, 87%, 63%);
    color:#fff;
    border-radius:25px;
    padding:0.8rem 2.5rem;
    box-shadow:0 3px 6px hsl(223, 87%, 63%);
}

.button:hover{
    background:hsl(223, 100%, 88%);
}

.error-msg{
    display:none;
}

.error{
    color:hsl(354, 100%, 66%);
    font-style: italic;
}

.hero-img{
    max-width:450px;
    margin-top:2rem;
}

.hero-img img{
    width:100%;
}

.socials{
    width:2.5rem;
}

.social-media{
    margin:1rem 0;
    margin-right: 0.5rem;
}

@media(min-width:860px){
    .button{
        margin: 1.6rem 0.5rem;
        /* padding:0 2.5rem; */
    }

    .input_box{
        width:320px;
        margin:1.5rem 0;
    }

    .hero-img{
        left:1%;
    }

    .error-msg{
        left:7%;
    }
}
